/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #027ae4;
}

/* Estilos del encabezado */
header {
    background-color: #700000; /* Rosa claro */
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Estilos de la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #663399;
}

/* Estilos de la sección de inicio */
section#inicio {
    position: relative;
    padding:0;
    background-image: url('../Fotos y videos/Fondo.jpg');
    background-size: 100%; /* O ajusta a 'contain' según tus preferencias */
    background-repeat: no-repeat;
    color: #00a552fa;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Estilos para el contenido de la sección "Inicio" */
#inicio-content {
    margin-top: 25%;
    text-align: center;
    padding: 100px;
    border-radius: 50px;
}

/* Estilos para la imagen y el video dentro de la sección "Inicio" */
#inicio-content figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#inicio-content img {
    margin: 1px;
    margin-left: 30px;
    width: 10%;
    height: 10%;
}

#inicio-content video {
    width: 20%;
    margin: 2px;
    margin-left: 15%;
}

/* Estilos del pie de página */
footer {
    background-color: #800000; /* Borgoña oscuro */
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

